*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: serif;
  font-size: 16px;
}

body {
  margin: 1rem;
  height: 100vh;
}

p {
  margin-top: 0.5rem;
}

span {
  font-weight: bold;
  color: green;
}

textarea {
  border: 1px solid #333;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 80%;
  height: 10rem;
}

#max-limit-reached {
  font-weight: bold;
  color: #ff0000;
  display: none;
}

#max-limit-reached.visible {
  display: block;
}
